/* app css stylesheet */
/************ Cover Template Base Styles *************/
/*
* Globals
*/
/* Links */
a,
a:focus,
a:hover {
  color: #fff; }

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff; }

/*
* Base structure
*/
html,
body {
  height: 100%;
  background-color: #efefef; }

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }

/********** Header **********/
.jumbotron {
  padding-top: 50px;
  background-color: #efefef;
  opacity: 0.9; }

.jumbotron h1, .jumbotron h2 {
  color: #222; }

/******* Main Content *******/
* {
  margin: 0; }

html, body {
  height: 100%;
  background: none; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -8em; }

.footer, .push {
  height: 4em; }

#content {
  padding-top: 50px;
  padding-bottom: 20px; }

#home-content h1 a {
  font-size: 2em; }

#info {
  font-size: 1.5em;
  cursor: pointer;
  margin: 10px; }

#info:hover {
  color: #ff4400; }

.home-input {
  margin: 10px inherit;
  height: 50px; }

.cameraLogo {
  margin: 50px 0; }

.camera-model {
  height: 200px;
  margin: 0;
  border: 1px solid #333;
  background-color: #efefef; }

.camera-model h1 a {
  padding: 50px;
  margin: -10px 0; }

.camera-model h1 a:hover {
  color: #ff4400;
  text-decoration: none; }

/********* Footer **********/
footer {
  background-color: #222;
  padding: 16px 0;
  margin: 50px 0 0;
  color: #999;
  /* IE8 proofing */
  color: rgba(255, 255, 255, 0.5); }

@media (min-width: 767px) {
  body {
    margin-top: 40px; }

  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out; }

  .top-nav-collapse {
    padding: 0; } }
/*****************************************************/
input {
  color: #666;
  text-transform: uppercase; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, x-ng-cloak {
  display: none; }

	                        /********* Buttons ********
   see http://sixrevisions.com/css/ghost-buttons/ for more details *******

.ghost-button {
	display: inline-block;
	width: 200px;
	padding: 8px;
	color: #fff;
	border: 1px solid #fff; /* Thick border use 3px
	text-align: center;
	outline: none;
	text-decoration: none;
}
.ghost-button:hover, .ghost-button:active {
	background-color: #fff;
	color: #000;
}*/
/************************************************ Simple Transition */
a.ghost-button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  background-color: #222;
  color: #fff !important;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-in; }

a.ghost-button:hover, a.ghost-button:active {
  background-color: #fff;
  color: #000 !important;
  transition: background-color 0.3s ease-in, color 0.3s ease-in; }

/******** Lens list ***********/
.lens-list {
  padding-top: 20px;
  text-shadow: none; }

.lens-feature {
  margin-top: -20px;
  background-color: #fff; }

.lens-feature h1 {
  color: #ff6600; }

#lens-content {
  background-color: #fefefe;
  color: #333;
  padding: 10px;
  text-shadow: none; }

#lens-content ul {
  text-align: left; }

.ind-lens {
  height: 750px; }

.lens-images {
  margin: 20px auto; }

.badge {
  font-size: 1.5em; }

/* Login Modal */
.ngdialog-message {
  text-transform: uppercase;
  padding: 10px 0;
  text-shadow: none; }

.loginInput {
  padding: 10px; }

.loginInput label {
  text-align: left;
  padding: 0; }

/****** Footer ******/
