/* app css stylesheet */
a {
  color: #fff; }

/******* Main Content *******/
body#background {
  background: url("../img/background/bg1.jpg") no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover; }

* {
  margin: 0; }

html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -8em; }

.footer, .push {
  height: 4em; }

	                        /********* Buttons ********
   see http://sixrevisions.com/css/ghost-buttons/ for more details *******

.ghost-button {
	display: inline-block;
	width: 200px;
	padding: 8px;
	color: #fff;
	border: 1px solid #fff; /* Thick border use 3px
	text-align: center;
	outline: none;
	text-decoration: none;
}
.ghost-button:hover, .ghost-button:active {
	background-color: #fff;
	color: #000;
}*/
/************************************************ Simple Transition */
a.ghost-button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff !important;
  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-in; }

a.ghost-button:hover, a.ghost-button:active {
  background-color: #fff;
  color: #000 !important;
  transition: background-color 0.3s ease-in, color 0.3s ease-in; }

#content {
  padding-top: 70px; }

#canon, #nikon {
  height: 200px;
  margin: 50px 0; }

#canon a {
  color: #ff4400; }

#nikon a {
  color: red; }

.lens-list {
  padding-top: 20px; }

.lens-feature {
  margin-top: -20px;
  background-color: #fff; }

.lens-feature h1 {
  color: #ff6600; }

#lens-content {
  background-color: #fefefe;
  color: #333;
  padding: 10px; }

#lens-content ul li {
  list-style-type: none; }

/****** Footer ******/
footer {
  background-color: #222;
  padding: 16px 0;
  margin: 50px 0 0; }
