/* app css stylesheet */
#content {
  padding-top: 50px; }

#canon, #nikon {
  height: 200px;
  margin: 50px 0;
  border: 1px solid #fff; }

#canon a {
  color: #ff4400; }

#nikon a {
  color: red; }

.lens-list a {
  height: 10em;
  margin: 10px 0; }

/****** Footer ******/
footer {
  background-color: #222;
  padding: 30px 0;
  margin: 50px 0 0; }
