/* app css stylesheet */
@import 'mixins';

a {
	color:#fff;
}
input {
	color:#666;
	text-transform:uppercase;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, x-ng-cloak {
	display:none;
}

/******* Main Content *******/
body#background {
	background: url('../img/background/bg1.jpg') no-repeat fixed;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

.jumbotron {
	background-color:#444;
	opacity:0.9;
}
.jumbotron h1 {
	color:#fff;
}


* {
	margin: 0;
}
html, body {
	height: 100%;
	background: none;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -8em;
}
.footer, .push {
	height: 4em;
}
#content {
	padding-top:50px;
	padding-bottom:20px;
}


#info {
	font-size:1.5em;
	cursor:pointer;
	margin:10px;
}
#info:hover {
	color:#ff4400;
}


/********* Buttons ********
   see http://sixrevisions.com/css/ghost-buttons/ for more details *******

.ghost-button {
	display: inline-block;
	width: 200px;
	padding: 8px;
	color: #fff;
	border: 1px solid #fff; /* Thick border use 3px
	text-align: center;
	outline: none;
	text-decoration: none;
}
.ghost-button:hover, .ghost-button:active {
	background-color: #fff;
	color: #000;
}*/

/************************************************ Simple Transition */
a.ghost-button {
	display: inline-block;
	width: 200px;
	padding: 8px;
	background-color:#222;
	color: #fff !important;
	border: 2px solid #fff;
	text-align: center;
	outline: none;
	text-decoration: none;
	transition: background-color 0.2s ease-out,
				color 0.2s ease-in;
}
a.ghost-button:hover, a.ghost-button:active {
	background-color: #fff;
	color: #000 !important;
	transition: background-color 0.3s ease-in,
				color 0.3s ease-in;
}


.home-input {
	margin:10px inherit;
	height:50px;
}

.cameraLogo {
	margin:50px 0;
}

#canon, #nikon, #sony, #olympus {
//	@include vertical-align;
	height:150px; // Temporary for collapsing divs
	margin:50px 0;
}

/******** Lens list ***********/
.lens-list {
	padding-top:20px;
	text-shadow: none;
}

.lens-feature {
	margin-top:-20px;
	background-color:#fff;
}
.lens-feature h1 {
	color: #ff6600;
}

#lens-content {
	background-color:#fefefe;
	color:#333;
	padding: 10px;
	text-shadow: none;
}
#lens-content ul {
	text-align:left;
}

.ind-lens {
	height:750px;
}
.lens-images {
	margin:20px auto;
}

.badge {
	font-size:1.5em;
}


/* Login Modal */
.ngdialog-message {
	text-transform:uppercase;
	padding:10px 0;
	text-shadow: none;
}
.loginInput {
		padding:10px;
}
.loginInput label {
	text-align:left;
	padding:0;
}



/****** Footer ******/

footer {
	background-color: #222;
	padding: 16px 0;
	margin:50px 0 0;
}
