

		<div class="jumbotron ">
			<div class="container">
				<h1 class="cover-heading">Welcome to Find-A-Lens</h1>

				<p>If you are looking for your next camera lens, you've come to the right place.</p>

				<span class="glyphicon glyphicon-plus-sign pull-right" id="info" ng-click="toggle = !toggle"></span>

				<div class="" ng-show="toggle">
					<p>Start off by choosing your camera manufacturer. The next page will ask you to choose the type of photography you are interested in. You will then find a list of the top six lenses designed for that
						specific use.</p>
				</div>



			</div>
		</div>



<div class="container">
	<div class="row">
		<div class="col-md-6" id="canon">

			<a href="#/canon" class="cameraLogo"><img src="img/canon_logo.png" alt="Canon" class="col-md-6 col-md-offset-2 col-xs-12" /></a>

		</div>

		<div class="col-md-6" id="nikon">

			<a href="#/nikon" class="cameraLogo"><img src="img/Nikon-logo.jpg" alt="Nikon" class="col-md-6 col-md-offset-2 col-xs-12" /></a>

		</div>

		<div class="col-md-6" id="sony">

			<a href="#" class="cameraLogo"><img src="img/sony-logo.jpg" alt="Sony" class="col-md-6 col-md-offset-2 col-xs-12" /></a>

		</div>

		<div class="col-md-6" id="olympus">

			<a href="#" class="cameraLogo"><img src="img/olympus-logo.jpg" alt="Olympus" class="col-md-6 col-md-offset-2 col-xs-12" /></a>

		</div>
	</div>
</div> <!-- end container -->
