<div class="container">
	<div class="row text-center">
		<h1 class="cover-heading">{{ message }}</h1>

	<!--	<p class="lead">
	    		<a href="#" class="btn btn-lg btn-default">Learn more</a>
	  		</p>
	-->
	</div>

	<div class="row">
		<div class="col-md-6" id="canon">

			<a href="#/canon" class="cameraLogo"><img src="img/canon_logo.png" alt="Canon" class="col-md-6 col-md-offset-2 col-xs-12" /></a>

		</div>

		<div class="col-md-6" id="nikon">

			<a href="#/nikon" class="cameraLogo"><img src="img/nikon_logo.png" alt="Nikon" class="col-md-6 col-md-offset-4 col-xs-12" /></a>

		</div>
	</div>
</div> <!-- end container -->
