<div class="jumbotron lens-feature">
  <h1>{{ indLens.model }}</h1>
  <img ng-src="{{ indLens.images[0] }}" alt="Lens Images" />

</div>

<div class="container">

  <div class="col-md-12" id="lens-content">
    <h2>Lens Information</h2>

    <p>{{ indLens.description }}</p>
    <h4 class="text-danger">Lens Price:<strong> {{ indLens.price | currency }}</strong></h4>
    <h4 class="text-success">{{ indLens.bestUse }} Lens Rank: {{ indLens.rank }}</h4>

    <div class="col-md-4">
      <h3>Features</h3>
      <ul class="list-unstyled">
        <li>Lens Aperture: {{ indLens.aperture }}</li>
        <li>Lens Focal Range: {{ indLens.focalRange }}</li>
        <li>Filter Size: {{ indLens.filterSize }}</li>
        <li>Lens Mount: {{ indLens.mount }}</li>
        <li>Stabilization: {{ indLens.stabilization | yesNo }}</li>
        <li>Lens Autofocus Motor Type: {{ indLens.afmotor }}</li>
        <li>Lens Zoom Type: {{ indLens.zoomType }}</li>
        <li>Rotating Front Element: {{ indLens.frontElementRotate | yesNo }}</li>
        <li>Tripod Mount: {{ indLens.tripodMount | yesNo }}</li>
        <li>Manual Focus: {{ indLens.manualFocus | yesNo }}</li>
        <li>Lens Elements:
             <ul>
                  <li>Number of Lenses: {{ indLens.lensElements.numberOfLenses }}</li>
                  <li>Number of Groups: {{ indLens.lensElements.numberOfGroups }}</li>
                  <li>Number of Diaphragm Blades: {{ indLens.lensElements.diaphragmBlades }}</li>
             </ul>
        </li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>Size and Weight</h3>
      <ul class="list-unstyled">
        <li>Lens Size: {{ indLens.sizeAndWeight.length }}</li>
        <li>Lens Weight: {{ indLens.sizeAndWeight.weight }}</li>
      </ul>

      <h3>Date Announced</h3>
      <ul class="list-unstyled">
           <li>{{ indLens.announced | date:'medium' }}</li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>Best Use</h3>
      <ul class="list-unstyled">
           <li>{{ indLens.bestUse }}</li>
      </ul>

      <h3>Common Uses</h3>
      <ul class="list-unstyled">
        <li>{{ indLens.uses.useOne }}</li>
        <li>{{ indLens.uses.useTwo }}</li>
        <li>{{ indLens.uses.useThree }}</li>
        <li>{{ indLens.uses.useFour }}</li>
        <li>{{ indLens.uses.useFive }}</li>
        <li>{{ indLens.uses.useSix }}</li>
        <li>{{ indLens.uses.useSeven }}</li>
      </ul>
    </div>

    <div class="purchase col-md-12">

      <a href="{{ indLens.amazonLink }}" class="btn btn-success" role="button" target="_blank">Purchase from Amazon</a>
      <a href="{{ indLens.amazonLink }}" class="btn btn-success" role="button" target="_blank">Purchase from B&H</a>

    </div>

    <div class="col-md-12 lens-images">

      <a img-pop class="col-md-3 image-link" href="{{img}}" title="{{indLens.model}}" ng-repeat="img in indLens.images">
           <img class="col-md-12" ng-src="{{img}}" />
      </a>

    </div>

  </div>

</div>
