<div class="ngdialog-message">
  <h2>User Login</h2>
  <div class="col-md-12 loginInput">
    <label class="col-md-12" for="userLogin">Username:</label>
    <input class="col-md-12" type="text" name="userLogin" value="">
  </div>
  <div class="col-md-12 loginInput">
    <label class="col-md-12" for="userPassword">Password:</label>
    <input class="col-md-12" type="text" name="userPassword" value="">
  </div>
</div>
<div class="ngdialog-buttons">
  <a href="#" class="btn btn-lg btn-primary" role="button">Log In</a>
</div>
